// variables globales

// Colores

$duxPurple:  #380036;
$duxBlue: #0CBABA;
$duxDark: #0d0d0d;
$duxGray: #242426;
$duxLight: #E4EAEC;
$duxMidBlue: #285975;
$duxClear: white;
$none: rgba(0, 0, 0, 0.0);

// Maps

$colors:(
		'duxPurple': #380036,
		'duxBlue': #0CBABA,
		'duxDark': #0d0d0d,
		'duxGray': #242426,
		'duxLight': #E4EAEC,
		'duxMidBlue': #285975,
		'duxClear': white,
	)





